#tabelaDisco{
    position: relative;
    top: 100px;
    right: 900px;
}

#tabelaRam{
    position: relative;
    top: 100px;
    right: 100px;
}

#tabelaLRU{
    position: relative;
    top: 230px;
    left: 50px
}